body{
    background-color: azure;
    color: darkolivegreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6em;
    margin:0;
}

.container{
width: 80%;
margin: auto;
overflow:hidden;
/*this is to keep the content in the page even it overflows the page*/
}

#main-header{
    background-color: darkcyan;
    color:black;
}

#navbar{
    background-color: aqua;
    color: cornflowerblue;
}

#navbar ul{
padding: 0;
}

#navbar li{
    display: inline-block;
    padding:0px 3px;
}

a:hover{
    color: chocolate;
}

#showcase{
    background-image:url('C:/Users/Lenovo/CSS/My_website/images/sample2.jpeg') ;
    /*background-position: 100px 200px;
    background-repeat: no-repeat;
    background-position: center top;
*/
    background-position:200px 100px;
    color: black;
    text-align: left;
    min-height: 80px;  
}

#showcase h2{
    line-height: 30px;
    text-align: center;
}

.main-content{
    float:left;
    width: 70%;
    background-color: none;
    color: black;
    box-sizing: border-box;
    padding:0px 3px;
    border:2px dotted black;
    margin-top: 15px;
    border-radius: 10px;
    padding-bottom: 65px;
}

.sidebar{
    float:right;
    width:30%;
    background-color: darkkhaki;
    color:black;
    box-sizing: border-box;
    padding: 3px;
    border:200px;
    margin-top: 15px;
}

#main-footer{
    background-color: aqua;
    color: black;
    text-align: center;
    padding: 20px;
    position : fixed;
    bottom:20px;
    width:100%;
}

@media(max-width:600px){
    .main-content{
        width:100%;
        float:none;
    }

    .sidebar{
        width:100%;
        float:none;
    }
}